{% extends 'restaurant/base.html' %}

{% block title %}
История
{% endblock %}

{% block content %}
<div class="default-background">
    <div class="container py-5 mt-5">
        <div class="bg-white rounded-4 shadow-lg p-5" style="opacity: 0.97;">
            <div class="text-center mb-5">
              <h1 class="display-6">История ресторана</h1>
            </div>
          <h3>Начало пути</h3>
          <p>
              Всё началось в далёком-далёком 1987 году. В тихом переулке старого города З, в 1987 году, когда ветер перемен задул
              по улицам страны, открылись двери нового ресторана под названием «Старый мир». Это заведение стало не просто
              местом, где подавали еду; оно превратилось в микрокосм, отражающий судьбы, надежды и разочарования целого поколения.
              Первые годы ресторан работал в условиях экономической нестабильности.
          </p>
          <div class="text-center my-5">
            <img width="50%" height="1%" src="/static/content/image/open.jpg">
          </div>
          <p>
              В те суровые времена, когда дефицит был частью обыденной жизни, повара «Старого мира» проявляли невероятную
              смекалку, создавая из доступных продуктов настоящие кулинарные шедевры. Их фирменные блюда, как, например,
              шуба с икрой, стали символом качества и вкуса. Но именно в те годы повара столкнулись с одной из главных
              проблем — постоянной нехваткой ингредиентов. Местные крестьяне привозили свежие овощи и зелень, а грибы и
              ягоды собирали на старых дачах за городом. Именно такое тесное сотрудничество с простыми людьми позволяло
              заведениям выживать.
          </p>
          <h3>Первые успехи</h3>
          <p>
              В 1991 году, когда страна переживала бурные времена перемен, «Старый мир» стал местом сбора не только местных
              жителей, но и туристов, которые искали истинный вкус России. С каждым годом ресторан все больше обретал
              популярность, организуя тематические вечера, где звучала музыка из эпохи советского времени. Здесь часто можно
              было встретить мэтров культуры и искусства. Однажды за столиком в углу вечеринки сидел Евгений Гришковец, который
              с удовольствием делился своими историями со взрослыми, желающими услышать о жизни в новой России.
          </p>
          <h3>Первые трудности</h3>
          <p>
            Однако, как и любая настоящая история, путь «Старого мира» не был усыпан розами. В трудные девяностые годы
            ресторан столкнулся с финансовыми кризисами и изменениями в законодательстве. Порой заведение было на грани
            закрытия, и в такие моменты сотрудники собирались вместе, чтобы обсудить, как спасти родное место. Их единство,
            увлеченность и любовь к кулинарному искусству спасали ресторан от упадка. Сотрудники нарушали привычные границы,
            перерабатывая меню и привнося в него новые веяния западной кухни, что помогло привлечь больше клиентов.
          </p>
          <h3>Рассвет</h3>
          <p>
              С начала 2000-х, когда Россия начала переживать новый экономический подъем, ресторан обрел вторую молодость. Он
              стал олицетворением не только русской кухни, но и современного стиля жизни. Обновленный интерьер, современное меню
              и внимательное обслуживание сделали «Старый мир» привлекательным местом как для местных жителей, так и для
              иностранных гостей. Ресторан проводил выставки местных художников, на которых можно было не только получить
              эстетическое удовольствие, но и насладиться блюдами шеф-повара.
          </p>
          <h3>Нет развития без испытаний</h3>
          <p>
              В 2020-х годах, когда мир столкнулся с пандемией, ресторан вновь оказался перед лицом серьезных испытаний. Однако,
              как и прежде, «Старый мир» показал свою стойкость. Он быстро перешел к доставке блюд и организации онлайн-вечеров,
              сохраняя связь с постоянными гостями. Это время стало время для старинных рецептов и новаторских идей, в том числе
              кулинарных мастер-классов и кулинарных челленджей, которые привлекли аудиторию в социальных сетях.
          </p>
          <h3>Наши дни</h3>
          <p>
              Сегодня, спустя почти сорок лет с момента основания, «Старый мир» продолжает радовать своих посетителей не только
              блюдами, но и атмосферой тепла и дружбы. Это место стало живым свидетелем времени, где каждое блюдо хранит
              воспоминания о прошлом, а каждая встреча — возможность для новой истории. Ресторан не просто выстоял, он стал
              капитаном своей судьбы, сохранив традиции и адаптировавшись к новым реалиям.
          </p>
        </div>
    </div>
</div>
{% endblock %}