{% extends 'restaurant/base.html' %}

{% block title %}
История
{% endblock %}

{% block content %}
<div class="default-background d-flex justify-content-center align-items-center">
    <div class="container py-5 my-5">
        <div class="bg-white rounded-4 shadow-lg p-5" style="opacity: 0.9;">
            <div class="text-center mb-5">
              <h1>Вы успешно забронировали столик!</h1>
            </div>
          <h3>Обратите внимание!</h3>
          <ul>
              <li>Для подтверждения бронирования с вами свяжется наш менеджер по телефону или электронной почте!</li>
              <li>Бронь действует полчаса от указанного вами времени!</li>
              <li>Спасибо, что выбрали нас!</li>
              <li>Всегда рады видеть вас снова!</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}